body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, lightblue, whitesmoke);
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  animation-name: loading;
  animation-duration: 3s;
}
@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left:20px;
  padding-right:20px;
}

#dropdown {
  padding-top: 10px;
  text-align: center;
}

#chart-title {
  font-weight: bolder;
}

select {
  background-color: rgb(207, 204, 204);
  height: 30px;
  border: none;
  font-weight: bold;
}

#btn {
  background-color: rgb(111, 160, 119);
  height: 30px;
  color: white;
  border: none;
  font-weight: bold;
}

#image {
  vertical-align: middle;
  width:15%;
  float: left;
  padding-right: 20px;
}

#fullName {
  font-size: x-large;
}

#description {
  font-size: .75rem;
  text-justify:newspaper;
}

@media screen and (max-width: 900px) {
  body {
    background-image: none;
    padding-top: 1px;
  }
}
